.slick-thumb {
  bottom: -100px;
}

.slick-thumb li {
  width: 80px;
  height: 80px;
  filter: grayscale(100%);
}

.slick-thumb li.slick-active {
  filter: grayscale(0%)
}

@media (max-width: 378px) {
  .slick-thumb {
    bottom: -280px; /* Adjust based on your design */
  }
}

@media (min-width: 379px) and (max-width: 767px) {
  .slick-thumb {
    bottom: -180px; /* Adjust based on your design */
  }
}

@media (min-width: 770px) and (max-width: 1024px) {
  .slick-thumb {
    bottom: -180px; /* Adjust based on your design */
  }
}

@media (min-width: 1025px) and (max-width: 1389px) {
  .slick-thumb {
    bottom: -180px; /* Adjust based on your design */
  }
}
